<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.concordia.gilgamesh">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".UpdateUserMachinesService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".UpdateMyLocationsService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MachineDetailActivity" />
        <activity android:name=".LocationDetailActivity" />
        <activity android:name=".PatronDetailActivity" />
        <activity
            android:name=".NewLocationActivity"
            android:parentActivityName=".FirebaseListActivity" />
        <activity
            android:name=".NewMachineActivity"
            android:parentActivityName=".FirebaseListActivity" />
        <activity
            android:name=".NewAddMachineActivity"
            android:parentActivityName=".FirebaseListActivity" />
        <activity
            android:name=".NewPatronActivity"
            android:parentActivityName=".FirebaseListActivity" />
        <activity
            android:name=".FirebaseListActivity"
            android:parentActivityName=".FirebaseActionsActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".FirebaseActionsActivity"
            android:theme="@style/AppTheme" />

        <!-- <activity android:name=".SignInActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirebaseActionsActivity" />
        <activity
            android:name=".AddLocationActivity"
            android:parentActivityName=".FirebaseActionsActivity" />
        <activity
            android:name=".AddPatronActivity"
            android:parentActivityName=".FirebaseActionsActivity" />
        <activity
            android:name=".AddMachineActivity"
            android:parentActivityName=".FirebaseActionsActivity" />
        <activity
            android:name=".WashingMachineActivity"
            android:label="@string/activity_washing_machine"
            android:parentActivityName=".FirebaseActionsActivity" />
        <activity android:name=".NewPostActivity" />
        <activity android:name=".PostDetailActivity" />
        <activity
            android:name=".UserTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LavaAddMachineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommercialUserTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OwnedLocationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LavaNewLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MachineListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddMachineManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LavaMachineDetailsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>